@{
	ViewData["Title"] = "Genel Müdürümüzün Mesajı";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="testimonial-section" class="testimonial-bg pb-70">
	<div id="container-general"
		 class="ready anim-section-features anim-section-desc anim-section-quote">
		<section id="section-quote">
			<div class="col-lg-12">
				<div class="section_title text_center mt-3">
					<div class="section_sub_title uppercase mb-3">
						<h6>KURUMSAL</h6>
					</div>
					<div class="section_main_title">
						<h1>Sayın <span>Ziyaretçilerimiz</span></h1>
					</div>
					<div class="em_bar">
						<div class="em_bar_bg"></div>
					</div>
				</div>
			</div>
			<!--Left Bubble Images-->
			<div class="container-pe-quote left">
				<div class="pp-quote li-quote-1" data-textquote="quote-text-1">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-2" data-textquote="quote-text-2">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-3" data-textquote="quote-text-3">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-4 active"
					 data-textquote="quote-text-4">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-5" data-textquote="quote-text-5">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-6" data-textquote="quote-text-6">
					<div class="img animated bounce"></div>
				</div>
			</div>
			<!--Left Bubble Images-->
			<!--Center Testimonials-->
			<div class="container-quote carousel-on">
				<div class="quote quote-text-4 show">
					<p>
						'Diş sağlığı, genel sağlığımızın önemli bir parçasıdır ve onu korumak ve iyileştirmek, toplumumuzun her bireyi için büyük bir öncelik olmalıdır. Biz, TRtek Medical Software olarak, diş sağlığı hizmetlerini daha erişilebilir, daha etkili ve daha verimli hale getirmek için çalışıyoruz.

						Sizlere, Türkiye'nin dört bir yanındaki hastanelerimizde ve kliniklerimizde en iyi diş sağlığı hizmetini sunma taahhüdümüzü sunmaktan gurur duyuyoruz. Modern teknolojiyi en iyi şekilde kullanarak, hastalarımıza daha iyi teşhisler ve tedaviler sunmamıza yardımcı olan bir hastane bilgi yönetim sistemi geliştirdik. Bu sistem, hem hastalarımızın sağlığını daha iyi takip etmemize hem de sağlık profesyonellerimize en son bilgilere erişim sağlamamıza olanak tanıyor.

						Misyonumuz, toplumumuzun diş sağlığını desteklemek ve geliştirmektir. Bu nedenle, çalışanlarımızın ve iş ortaklarımızın yüksek kaliteye ve hasta memnuniyetine olan bağlılığını takdir ediyoruz. Sizlerin de bu süreçteki desteği ve güveni bizim için çok değerlidir.

						TRtek Medical Software olarak, diş sağlığı alanında daha fazla yenilik yapmayı ve toplumumuza daha fazla fayda sağlamayı taahhüt ediyoruz. Sizlere daha iyi hizmet sunmak için her zaman çalışıyoruz ve geri bildiriminiz bizim için son derece önemlidir.

						Web sitemizi ziyaret ettiğiniz için teşekkür ederim. Eğer herhangi bir sorunuz veya geri bildiriminiz varsa, lütfen bizimle iletişime geçmekten çekinmeyin. Sizlere daha iyi hizmet verebilmek için buradayız.'
					</p>
					<div class="container-info">
						<div class="pp"></div>
						<div class="name">Baha YILDIRIM</div>
						<div class="job">Genel Müdür</div>
					</div>
				</div>
			</div>
			<!--Right Bubble Images-->
			<div class="container-pe-quote right">
				<div class="pp-quote li-quote-7" data-textquote="quote-text-7">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-8" data-textquote="quote-text-8">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-9" data-textquote="quote-text-9">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-10" data-textquote="quote-text-10">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-11" data-textquote="quote-text-11">
					<div class="img animated bounce"></div>
				</div>
				<div class="pp-quote li-quote-13" data-textquote="quote-text-13">
					<div class="img animated bounce"></div>
				</div>
			</div>
		</section>
	</div>
</div>