@{
	ViewData["Title"] = "Kalite Belgelerimiz";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--==================================================-->
<!----- Start Techno Blog Area ----->
<!--==================================================-->
<div class="blog_area style-2 pt-85 pb-65">
    <div class="container">
        <div class="row">
            <!-- Start Section Tile -->
            <div class="col-lg-12">
                <div class="section_title text_center mb-50 mt-3">
                    <div class="section_sub_title uppercase mb-3">
                        <h6>KURUMSAL</h6>
                    </div>
                    <div class="section_main_title">
                        <h1>Kalite Belgelerimiz</h1>
                    </div>
                    <div class="em_bar">
                        <div class="em_bar_bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog-list2 owl-carousel owl-nav">
                <div class="col-lg-12">
                    <div class="single_blog">
                        <div class="single_blog_thumb">
                            <a href="blog-details.html">
                                <img src="~/qualityDocs/1.png" alt="" />
                            </a>
                        </div>
                        <div class="single_blog_content">
                            <div class="blog_page_title">
                                <h3>
                                    <a href="#">ISO/IEC 27001:2022</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single_blog">
                        <div class="single_blog_thumb">
                            <a href="blog-details.html">
                                <img src="~/qualityDocs/2.png" alt="" />
                            </a>
                        </div>
                        <div class="single_blog_content">
                            <div class="blog_page_title">
                                <h3>
                                    <a href="#">
                                        TS ISO/IEC 15504 SPICE Belgesi
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single_blog">
                        <div class="single_blog_thumb">
                            <a href="blog-details.html">
                                <img src="~/qualityDocs/3.png" alt="" />
                            </a>
                        </div>
                        <div class="single_blog_content">
                            <div class="blog_page_title">
                                <h3>
                                    <a href="#">
                                        TS ISO/IEC 42001:2023
                                        Bilgi Teknolojisi Yapay Zeka Yönetim Sistemi
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single_blog">
                        <div class="single_blog_thumb">
                            <a href="blog-details.html">
                                <img src="~/qualityDocs/4.png" alt="" />
                            </a>
                        </div>
                        <div class="single_blog_content">
                            <div class="blog_page_title">
                                <h3>
                                    <a href="#">Yazılım Yetki Belgesi</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single_blog">
                        <div class="single_blog_thumb">
                            <a href="blog-details.html">
                                <img src="~/qualityDocs/5.png" alt="" />
                            </a>
                        </div>
                        <div class="single_blog_content">
                            <div class="blog_page_title">
                                <h3>
                                    <a href="#">Kamu Bilişim Yetki Belgesi</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single_blog">
                        <div class="single_blog_thumb">
                            <a href="blog-details.html">
                                <img src="~/qualityDocs/6.png" alt="" />
                            </a>
                        </div>
                        <div class="single_blog_content">
                            <div class="blog_page_title">
                                <h3>
                                    <a href="#">Marka Tescil Belgesi</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!----- End Techno Blog Area ----->
<!--==================================================-->