@{
	ViewData["Title"] = "Kalite Politikamız";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.rowEQWR {
		display: flex;
		justify-content: center; /* Yatayda ortalamak için */
		align-items: center; /* Dikeyde ortalamak için */
		gap: 20px; /* Elemanlar arasındaki mesafe */
	}

</style>


<div class="accordion_area style-two upper1 pt-90">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text_center mb-50">
					<div class="section_sub_title uppercase mb-3">
						<h6>KURUMSAL</h6>
					</div>
					<div class="section_main_title">
						<h1>Kalite Politikamız</h1>
					</div>
					<div class="em_bar">
						<div class="em_bar_bg"></div>
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 pr-3">
				<!-- Start Accordion -->
				<div class="tab_container pt-50">
					<div id="tab1"
						 class="tab_content wow fadeInUp"
						 data-wow-delay=".5">
						<ul class="accordion">
							<li>
								<a>
									Müşteri Memnuniyeti
								</a>
								<p>
									Müşterilerimizin memnuniyeti, işimizin merkezinde yer almaktadır. Her projede ve her hizmette müşteri ihtiyaçlarını anlamak ve bu ihtiyaçları karşılamak için çaba gösteriyoruz. Müşterilerimizin beklentilerini aşmayı ve onların güvenini kazanmayı amaçlıyoruz.

								</p>
							</li>
							<li>
								<a>
									Sürekli İyileştirme
								</a>
								<p>
									Mükemmeliyeti yakalamak için sürekli olarak kendimizi geliştiriyoruz. İş süreçlerimizi ve teknolojilerimizi sürekli olarak gözden geçiriyor ve iyileştiriyoruz. Müşteri geri bildirimlerini dikkate alarak çözümlerimizi sürekli olarak güncelliyoruz.
								</p>
							</li>
							<li>
								<a>
									Güvenlik ve Gizlilik
								</a>
								<p>
									Sağlık sektörü hassas verilerle doludur ve bu verilerin güvenliği ve gizliliği bizim için en üst düzeyde önemlidir. Müşterilerimize en güvenli çözümleri sunmak için en son güvenlik standartlarını ve en iyi uygulamaları benimsiyoruz.
								</p>
							</li>
							<li>
								<a>
									Kalite Standartları

								</a>	
								<p>
									Kalite politikamızı desteklemek için ulusal ve uluslararası kalite standartlarına sıkı sıkıya bağlıyız. Sürekli olarak bu standartları takip ediyor ve uyguluyoruz.

								</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- End Accordion -->
			</div>
			<div class="col-lg-6 col-md-6 pr-3">
				<!-- Start Accordion -->
				<div class="tab_container pt-50">
					<div id="tab1"
						 class="tab_content wow fadeInUp"
						 data-wow-delay=".5">
						<ul class="accordion">
							<li>
								<a>
									Çalışan Katılımı
								</a>				
								<p>
									Çalışanlarımız, başarımızın temel taşıdır. Ekip üyelerimizin katılımını ve katkılarını teşvik ediyor, onları sürekli olarak eğitiyor ve motive ediyoruz. Çalışanlarımızın işlerine olan bağlılığı, müşteri memnuniyetini artırmamıza ve iş sonuçlarını geliştirmemize yardımcı olur.
								</p>
							</li>
							<li>
								<a>
									Sosyal Sorumluluk
								</a>		
								<p>
									Sağlık sektöründe çalışırken, topluma karşı bir sorumluluğumuz olduğunun farkındayız. Toplumumuza geri verme taahhüdü ile sosyal sorumluluk projelerine katkıda bulunuyor ve sağlık hizmetlerinin daha yaygın ve erişilebilir hale gelmesine katkı sağlamayı amaçlıyoruz.
								</p>
							</li>
							<li>
								<a>
									Yönetim Taahhüdü
								</a>		
								<p>
									Tüm çalışanlarımız, kalite politikamızın uygulanması ve sürdürülmesi konusunda sorumluluk taşımaktadır. Yönetim ekibimiz, kalite politikamızı desteklemek ve uygulamak için gereken kaynakları sağlamakta ve liderlik etmektedir.
								</p>
							</li>
							<li>
								<a>
									İlkemiz
								</a>			
								<p>

									Biz, TRtek Medical Software, kalite politikamıza olan bağlılığımızı sürdürerek müşterilerimize ve iş ortaklarımıza en iyi sağlık bilgi yönetim çözümlerini sunmaya devam edeceğiz.

									Bu kalite politikası, tüm çalışanlarımız için bir rehberlik kaynağıdır ve işimizi yönlendiren temel bir ilkedir.

								</p>
							</li>
						</ul>
					</div>
				</div>
				<!-- End Accordion -->
			</div>
		</div>
	</div>
</div>

<!--==================================================-->
<!----- Start Techno Counter Area ----->
<!--==================================================-->
<div class="counter_area bg_color2 pt-100 pb-60">
	<div class="container">
		<div class="rowEQWR">
			<div class="col-lg-4 col-md-6 col-sm-12">
				<a href="~/Company/QualityDocs">
					<div class="counter_style_three wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
						<div class="counter_style_three_icon pb-3">
							<div class="icon">
								<i class="flaticon-analytics"></i>
							</div>
						</div>
						<div class="counter_style_three_dex">
							<h5>Kalite Belgelerimiz</h5>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-12">
				<a href="~/Company/SecuritySystem">
					<div class="counter_style_three wow flipInY" data-wow-delay="0ms" data-wow-duration="2500ms">
						<div class="counter_style_three_icon pb-3">
							<div class="icon">
								<i class="flaticon-analytics"></i>
							</div>
						</div>
						<div class="counter_style_three_dex">
							<h5>Bilgi Güvenliği Yönetim Sistemi</h5>
						</div>
					</div>
				</a>
			</div>
		</div>

	</div>
</div>
<!--==================================================-->
<!----- End Techno Counter Area ----->
<!--==================================================-->