@{
	ViewData["Title"] = "Bilgi Güvenliği Yönetim Sistemi";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blog_area blog-details-area pt-100 pb-100" id="blog">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-7 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-md-12">
						<div class="blog_details">
							<div class="blog_dtl_thumb">
								<img src="assets/images/blog3.jpg" alt="" />
							</div>

							<div class="blog_dtl_content">

								<div class="section_sub_title uppercase mb-3">
									<h6>KURUMSAL</h6>
								</div>
								<div class="section_main_title">
									<h1>Bilgi Güvenliği</h1>
									<h1><span>Sistemi</span></h1>
								</div>
								<div class="em_bar">
									<div class="em_bar_bg"></div>
								</div>
								<div class="section_content_text pt-4">
								<p>
										TS EN ISO 27001:2013 Bilgi Güvenliği Yönetim Sistemin ana teması; Trtek Teknolojik Ürünler San. Tic. Ltd. Şti.Yazılım Hizmetlerinde; insan, alt yapı, yazılım, donanım, müşteri bilgileri, kuruluş bilgileri, üçüncü şahıslara ait bilgiler ve finansal kaynaklar içerisinde bilgi güvenliği yönetiminin sağlandığını göstermek, risk yönetimini güvence altına almak, bilgi güvenliği yönetimi süreç performansını ölçmek ve bilgi güvenliği ile ilgili konularda üçüncü taraflarla olan ilişkilerin düzenlenmesini sağlamaktır.
								</p>
									<p>
										Bu doğrultuda BGYS Politikamızın amacı;

										İçeriden veya dışarıdan, bilerek ya da bilmeyerek meydana gelebilecek her türlü tehdide karşı  Trtek Teknolojik Ürünler San. Tic. Ltd. Şti. bilgi varlıklarını korumak,  bilgiye erişebilirliği iş prosesleriyle gerektiği şekilde sağlamak, yasal mevzuat gereksinimlerini karşılamak, sürekli iyileştirmeye yönelik çalışmalar yapmak,
										Yürütülen tüm faaliyetlerde Bilgi Güvenliği Yönetim Sisteminin üç temel öğesinin sürekliliğini sağlamak.

										Gizlilik:                 Önem taşıyan bilgilere yetkisiz erişimlerin önlenmesi,
										Bütünlük:              Bilginin doğruluk ve bütünlüğünün sağlandığının gösterilmesi,
										Erişebilirlik:          Yetkisi olanların gerektiği hallerde bilgiye ulaşılabilirliğinin gösterilmesi,

										Sadece elektronik ortamda tutulan verilerin değil; yazılı, basılı, sözlü ve benzeri ortamda bulunan tüm verilerin güvenliği ile ilgilenmek.
										Bilgi Güvenliği Yönetimi eğitimlerini tüm personele vererek bilinçlendirmeyi sağlamak.
										Bilgi Güvenliğindeki gerçekte var olan veya şüphe uyandıran tüm açıklıkların, BGYS Ekibine rapor etmek ve BGYS Ekibi tarafından soruşturulmasını sağlamak.
										İş süreklilik planları hazırlamak, sürdürmek ve test etmek.
										Bilgi Güvenliği konusunda periyodik olarak değerlendirmeler yaparak mevcut riskleri tespit etmek. Değerlendirmeler sonucunda, aksiyon planlarını gözden geçirmek ve takibini yapmak.
										Sözleşmelerden doğabilecek her türlü anlaşmazlık ve çıkar çatışmasını engellemek.
										Bilgiye erişilebilirlik ve bilgi sistemleri için iş gereksinimlerini karşılamaktır.

								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>