<div class="layout-wrapper layout-content-navbar">
	<div class="layout-container">
		<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
			<div class="app-brand demo">
				<a href="~/Admin/Home" class="app-brand-link">
					<img src="~/templates/assets/images/trtek.png "width="150px" />
				</a>

				<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
					<i class="bx bx-chevron-left bx-sm align-middle"></i>
				</a>
			</div>

			<div class="menu-inner-shadow"></div>

			<ul class="menu-inner py-1">

				<li class="menu-header small text-uppercase">
					<span class="menu-header-text">HİZMETLER VE ÜRÜNLER</span>
				</li>
				<!-- Hizmetler -->
				<li class="menu-item">
					<a href="~/Admin/ServicesEdit/Index" class="menu-link">
						<i class="menu-icon tf-icons bx bx-collection"></i>
						<div data-i18n="Account Settings">Hizmetler</div>
					</a>
				</li>
				<!-- Modüller -->
				<li class="menu-item">
					<a href="~/Admin/ModulsEdit/Index" class="menu-link">
						<i class="menu-icon tf-icons bx bx-dock-top"></i>
						<div data-i18n="Authentications">Modüller</div>
					</a>
				</li>
				<!-- Ürünler -->
				<li class="menu-item">
					<a href="~/Admin/ProductsEdit/Index" class="menu-link">
						<i class="menu-icon tf-icons bx bx-grid-alt"></i>
						<div data-i18n="Misc">Ürünler</div>
					</a>
				</li>
				<!-- Kurumsal -->
				<li class="menu-header small text-uppercase"><span class="menu-header-text">KURUMSAL</span></li>
				<!-- Haberler -->
				<li class="menu-item">
					<a href="~/Admin/NewsEdit/Index" class="menu-link">
						<i class="menu-icon tf-icons bx bx-news"></i>
						<div data-i18n="Basic">Haberler</div>
					</a>
				</li>
				<!-- Duyurular -->
				<li class="menu-item">
					<a href="~/Admin/NoticeEdit/Index" class="menu-link">
						<i class="menu-icon tf-icons bx bx-bell"></i>
						<div data-i18n="Basic">Duyurular</div>
					</a>
				</li>
				<!-- Etkinlikler -->
				<li class="menu-item">
					<a href="~/Admin/EventEdit/Index" class="menu-link">
						<i class="menu-icon tf-icons bx bx-calendar-event"></i>
						<div data-i18n="Basic">Etkinlikler</div>
					</a>
				</li>

				<!-- İletişim Formu -->
				<li class="menu-header small text-uppercase"><span class="menu-header-text">İLETİŞİM</span></li>
				<!-- Tables -->
				<li class="menu-item">
					<a href="~/Admin/ContactForm/Index" class="menu-link">
						<i class="menu-icon tf-icons bx bx-edit"></i>
						<div data-i18n="Tables">İletişim Formu</div>
					</a>
				</li>

				<!-- İletişim Formu -->
				<li class="menu-header small text-uppercase"><span class="menu-header-text">DEMO BAŞVURUSU</span></li>
				<!-- Tables -->
				<li class="menu-item">
					<a href="~/Admin/DemoForm/Index" class="menu-link">
						<i class="menu-icon tf-icons bx bx-spreadsheet"></i>
						<div data-i18n="Tables">Demo Formu</div>
					</a>
				</li>
			</ul>
		</aside>
		<div class="layout-page">