@model AppUserRegisterDto
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h1>Kaydol</h1>



<div class="contact-form">
	<form method="post">
		<div class="row">

			<div class="col-md-6">
				<h5 class="mb-2">İsminiz</h5>
				<input type="text" id="nameInput" asp-for="Name" oninput="isim(this)">
			</div>
			<div class="col-md-6">
				<h5 class="mb-2">Soyisminiz</h5>
				<input type="text" id="surnameInput" asp-for="Surname" oninput="isim(this)">
			</div>
			<div class="col-md-6">
				<h5 class="mb-2">E-Posta Adresiniz</h5>
				<input type="email" asp-for="Email">
			</div>
			<div class="col-md-6">
				<h5 class="mb-2">Telefon Numaranız</h5>
				<input type="text" asp-for="PhoneNumber" id="phoneNumberInput" oninput="telefon(this)">
			</div>
			<div class="col-md-6">
				<h5 class="mb-2">T.C. Kimlik Numaranız</h5>
				<input type="text" id="userNameInput" asp-for="UserName" oninput="tc(this)">
			</div>
			<div class="col-md-6">
				<h5 class="mb-2">Parolanız</h5>
				<input type="password" asp-for="Password">
			</div>
			<div class="col-md-6">
				<h5 class="mb-2">Parolanızı tekrar giriniz</h5>
				<input type="password" asp-for="ConfirmPassword">
			</div>
			<div class="col-md-12 text-center">
				<button type="submit">HESAP OLUŞTUR</button>
			</div>
			<div>
				<p class="text-center">Hesabınız var mı? <a href="/Login/Index">Giriş Yapınız.</a></p>
			</div>

		</div>
	</form>
</div>

