<!-- Loder Start-->
<div class="loader-wrapper">
	<div class="loader"></div>
	<div class="loder-section left-section"></div>
	<div class="loder-section right-section"></div>
</div>
<!-- Loder End -->
<!--==================================================-->
<!----- Start	Techno Header Top Menu Area Css ----->
<!--==================================================-->
<div class="header_top_menu pt-2 pb-2 bg_color">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-sm-8">
				<div class="header_top_menu_address">
					<div class="header_top_menu_address_inner">
						<ul>
							<li>
								<a target="_blank" href="mailto:info@trtekyazilim.com"><i class="fa fa-envelope-o"></i>info@trtekyazilim.com</a>
							</li>
							<li>
								<a href="https://maps.app.goo.gl/DwQ487zP3VfWqQor5" target="_blank" rel="noopener noreferrer">
									<i class="fa fa-map-marker"></i> Vatan Cd. No:83, Başiskele/Kocaeli
								</a>

							</li>
							<li>
								<a href="tel:+902623233924"><i class="fa fa-phone"></i>+ (90) 323 3924</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-sm-4">
				<div class="header_top_menu_icon">
					<div class="header_top_menu_icon_inner">
						<ul>
							<li>
								<a href="https://www.facebook.com/profile.php?id=100068390943027" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
							</li>
							<li>
								<a href="https://www.instagram.com/trteksoftware/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
							</li>
							<li>
								<a href="https://www.linkedin.com/company/trtek-medical-software/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--==================================================-->
<!----- End	Techno Header Top Menu Area Css ----->
<!--===================================================-->