<!--==================================================-->
<!----- Start Techno Main Menu Area ----->
<!--==================================================-->
<div id="sticky-header"
	 class="techno_nav_manu d-md-none d-lg-block d-sm-none d-none">
	<div class="container">
		<div class="row align-items-center">
			<div class="menu">
				<a href="~/Home/Index" class="logo">
					<img class="down" src="~/templates/assets/images/trtek-bg.png" alt="" />
					<img class="main_sticky" src="~/templates/assets/images/trtek-bg2.png" alt="" />
				</a>
				<ul class="clearfix">
					<li>
						<a>Hizmet ve Ürünlerimiz</a>
						<ul>
							<li><a href="~/ProductAndService/Services">Hizmetlerimiz</a></li>
							<li><a href="~/ProductAndService/Moduls">Modüllerimiz</a></li>
							<li><a href="~/ProductAndService/Products">Ürünlerimiz</a></li>
						</ul>
					</li>
					<li>
						<a>Medya</a>
						<ul>
							<li><a href="~/Company/News">Haberlerimiz</a></li>
							<li><a href="~/Company/Notices">Duyurularımız</a></li>
							<li><a href="~/Company/Events">Etkinliklerimiz</a></li>
						</ul>
					</li>
					<li>
						<a>Kurumsal</a>
						<ul>
							<li><a href="~/Company/AboutUs">Hakkımızda</a></li>
							<li><a href="~/Company/Message">Genel Müdürümüzün Mesajı</a></li>
							<li><a href="~/Company/VisionAndMission">Vizyonumuz ve Misyonumuz</a></li>
							<li><a href="~/Company/QualityPolicy">Kalite Politikamız</a></li>
							<li><a href="~/Company/ApplyJob">İş Başvurusu</a></li>
							<li><a href="~/Company/JobList">Açık İş İlanları</a></li>
							<li><a href="~/Company/ApplyIntern">Staj Başvurusu</a></li>
						</ul>
					</li>
					<li>
						<a href="~/Contact/Index">İletişim</a>
					</li>
					<div class="donate-btn-header">
						<a class="dtbtn" href="~/Demo/Index">Demo Başvurusu</a>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Techno Mobile Menu Area -->
<div class="mobile-menu-area d-sm-block d-md-block d-lg-none">
	<div class="mobile-menu">
		<nav class="techno_menu">
			<ul class="clearfix">
				<li>
					<a href="~/Home/Index">Anasayfa</a>
				</li>
				<li>
					<a href="#">HİZMET VE ÜRÜNLERİMİZ</a>
					<ul>
						<li><a href="service-1.html">Service One</a></li>
						<li><a href="service-2.html">Service Two</a></li>
						<li><a href="service-3.html">Service Three</a></li>
						<li><a href="service-4.html">Service Four</a></li>
						<li><a href="service-details.html">Service Details</a></li>
					</ul>
				</li>
				<li>
					<a href="#">MEDYA</a>
					<ul>
						<li><a href="~/Company/News">Haberlerimiz</a></li>
						<li><a href="~/Company/Notices">Duyurularımız</a></li>
						<li><a href="~/Company/Events">Etkinliklerimiz</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Kurumsal</a>
					<ul>
						<li><a href="~/Company/AboutUs">Hakkımızda</a></li>
						<li><a href="~/Company/Message">Genel Müdürümüzün Mesajı</a></li>
						<li><a href="~/Company/VisionAndMission">Vizyonumuz ve Misyonumuz</a></li>
						<li><a href="~/Company/QualityPolicy">Kalite Politikamız</a></li>
						<li><a href="~/Company/ApplyJob">İş Başvurusu</a></li>
						<li><a href="~/Company/JobList">Açık İş İlanları</a></li>
						<li><a href="~/Company/ApplyIntern">Staj Başvurusu</a></li>
					</ul>
				</li>
				<li>
					<a href="~/ContactForm/Index">İLETİŞİM</a>
				</li>
				<li>
					<a href="~/Demo/Index">Demo Başvurusu</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!--==================================================-->
<!----- End Techno Main Menu Area ----->
<!--==================================================-->